<!DOCTYPE html>
<html>
	<head>
		<%- include("../layout/head", {pageName: "Hi"}); %>
		<link rel="stylesheet" type="text/css" href="css/font-face.css" />
		<link rel="stylesheet" type="text/css" href="css/public-style.css" />
	</head>
	<body currentpage="<%= current_page %>">
		<div class="container">
		</div>
	</body>
</html>